<!-- recipes.component.html -->
<div class="row">
  <div class="col-md-5">
    <app-recipe-list></app-recipe-list>
  </div>
  <div class="col-md-7">
  <!-- dodajemy *ngIf żeby wyświetlać szczegóły tylko jeśli został wybrany jakiś przepis -->
  <!-- jeśli selectedRecipe jest undefined zwróci false -->
  <!-- jeśli jest false to zostanie wyświetlona zawartość #infoText -->
    <app-recipe-detail
    	*ngIf="selectedRecipe; else infoText"
    	[recipeDetail]="selectedRecipe"
    ></app-recipe-detail>
    <ng-template #infoText>
    	<p>Please select a recipe!</p>
    </ng-template>
  </div>
</div>
